.mat-card
    border-radius: 0
    background: #e8f5ff40
    box-shadow: none
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    font-size: 14px
    padding-left: 35px

.mat-icon
    font-size: 15px

button
    width: 25px

mat-card-header
    margin-bottom: 5px
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

.mat-card
    margin: 0 -16px

.mat-card-avatar 
    height: 30px
    width: 30px

.mat-card-title
    font-size: 17px

.mat-card-actions
    padding: 0

.mat-icon-button
    height: auto
    line-height: inherit

.mat-card-content
    margin-top: 10px

.header
    display: flex
    flex-direction: row
    justify-content: space-between   
    height: 100% 
    width: 100%
    
.header-content
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    height: 100%

.new-comment
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.button-gradient
    background: linear-gradient(90deg, rgba(0,188,212,1) 0%, rgba(0,188,212,1) 50%, rgba(255,87,34,1) 50%,  rgba(255,87,34,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: rgb(0,188,212)