<mat-card>


  <div *ngIf="isEditing" class="new-comment">
    <mat-form-field>
      <textarea [(ngModel)]="updatedComment.body" matInput placeholder="Edit comment ..."></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button (click)="close()">Back</button>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>

  <div *ngIf="!isEditing">
    <div class="header">
      <mat-card-header class="header-content">
        <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
        <mat-card-title>{{comment.author.userName}}</mat-card-title>
        <div class="date">{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
      </mat-card-header>
      <div *ngIf="canEdit()" class="header-content actions-buttons">
        <button mat-icon-button matTooltip="Edit comment" color="basic" (click)="editComment()">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete comment" color="warn" (click)="deleteComment()">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button matTooltip="Like comment" [color]="likeColor" (click)="likeComment()">
        <mat-icon matBadge="{{likesCount}}" matBadgeColor="accent" matBadgeSize="small"
          [matBadgeHidden]="likesCount === 0" aria-label="Like">thumb_up</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Dislike comment" [color]="dislikeColor" (click)="dislikeComment()">
        <mat-icon matBadge="{{dislikesCount}}" matBadgeColor="warn" matBadgeSize="small"
          [matBadgeHidden]="dislikesCount === 0" aria-label="DisLike">thumb_down</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Display who liked and disliked comment" class="button-gradient"
        (click)="showStatistics()">
        <mat-icon aria-label="statistics">thumbs_up_down
        </mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>