.header
    display: flex
    justify-content: space-between   
    height: 100% 
    width: 100%
    
.header-content
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    height: 100%
    cursor: pointer
    &:focus
        outline: none

mat-card-header
    width: 100%
    margin-top: 5px
    margin-bottom: 5px
    display: flex
    align-items: center
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

.mat-spinner-wrapper 
    margin: -16px

.mat-dialog-content
    padding: 10px 24px
    
.no-content
    margin: auto    
    color: #607d8b