<h2 mat-dialog-title class="title">Edit post</h2>
<mat-dialog-content>
  <mat-card class="post-create-container">
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="post.body" matInput placeholder="Write something..."></textarea>
      </mat-form-field>
      <div class="image-container">
        <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
        <img mat-card-image class="post-image" *ngIf="this.post.previewImage" mat-card-image src="{{post.previewImage}}"
          alt="Photo">
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div class=" actions">
    <button mat-raised-button (click)="close()">Back</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-dialog-content>