mat-card-actions button
    margin-right: 8px

mat-card-header
    margin-bottom: 5px
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)
    

.header
    display: flex
    flex-direction: row
    justify-content: space-between   
    height: 100% 
    width: 100%
    
.header-content
    display: flex
    justify-content: center
    flex-direction: row
    align-items: center
    height: 100%
    cursor: pointer
    &:focus
        outline: none


mat-card-content
    font-size: 15px
    margin: 0

mat-icon
    font-size: 22px

.post-with-comments
    padding-bottom: 0

.mat-badge-content
    font-size: 10px



.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.comments-count
    width: 100%
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    margin-bottom: 5px

.box
    width: 57%
    display: flex

.button-gradient
    background: linear-gradient(90deg, rgba(0,188,212,1) 0%, rgba(0,188,212,1) 50%, rgba(255,87,34,1) 50%,  rgba(255,87,34,1) 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    color: rgb(0,188,212)