<mat-card [ngClass]="{'post-with-comments': showComments}">
  <div class="header">
    <mat-card-header class="header-content">
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    </mat-card-header>
    <div *ngIf="canEdit()" class="header-content actions-buttons">
      <button mat-icon-button matTooltip="Edit post" color="basic" (click)="editPost()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete post" color="warn" (click)="deletePost()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
  </div>

  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button matTooltip="Like post" [color]="likeColor" (click)="likePost()">
      <mat-icon matBadge="{{likesCount}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likesCount === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Dislike post" [color]="dislikeColor" (click)="dislikePost()">
      <mat-icon matBadge="{{dislikesCount}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="dislikesCount === 0" aria-label="DisLike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Display who liked and disliked post" class="button-gradient"
      (click)="showStatistics()">
      <mat-icon aria-label="statistics">thumbs_up_down
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share" color="accent" (click)="toggleShare()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Comments" color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>

  <div *ngIf="showShare">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <input [(ngModel)]="email" matInput placeholder="Receiver email...">
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sharePostMail()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      [reactionHub]="reactionHub" (deleteCommentEvent)="deleteCommentEventHandler($event)"
      (updateCommentEvent)="updateCommentEventHandler($event)">
    </app-comment>
  </div>
</mat-card>